<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard">Employee Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/dashboard">Home</a></li>
      <li><a routerLink="registerEmployee">Register Employee</a></li>
      <li><a routerLink="searchEmployee">Search</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

  <router-outlet></router-outlet>
</div>
